.App {
  text-align: center;
}

.finder {
  display: flex;
  justify-content: center;
}

.grass > img { /* the '>' finds any element on the right which is a direct child of the element on the left */
  width: 120px;
  height: auto;
}

.pokedex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  width: 25%;
  height: 150px;
}
.pokemon input {
  display: block;
  width: 100%;
}
.pokemon input::placeholder {
  text-transform: capitalize;
}
.pokemon h3 {
  text-transform: capitalize;
}